body{
    background-image: none;
}
.header{
    background-image: none;
}
.aboutusContainer{
    margin-top: -20px;
    padding-top: 15px;
    background: linear-gradient(rgba(0, 0, 0, 0.326)0%,rgba(0, 0, 0, 0)100%);
}
.aboutus{
    width:85%;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: rgb(201, 199, 198);
    margin: 30px 7%;
}
.aboutus>h1{
    font-size: 80px;
    margin-bottom: 20px ;
    color: #f0e5c7e7;
    text-shadow:3px 3px 5px #060704;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.aboutus p{
    text-shadow:3px 3px 5px #060704;
    font-size: 20px ;
    margin-bottom: 35px;
    color: #f0e5c7e7;
}

.container{
    width:85%;
    margin:auto;
    padding: auto;
    margin-top: 70px;

}
.ourvision{
    display:flex;
    justify-content: space-between;
}
.ourvision-image{
    margin-right: 40px;
    width: 40%;
}
.ourvision-image img{
    height: auto;
    width: 300px;
    border-radius:20px ;
} 
.ourvision-p{
    width: 50%;
}
.ourvision-p h2{
    font-size: 45px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom:20px;
    color: #f0e5c7e7;
    text-shadow:4px 4px 2px #060704;
}
.ourvision-p p{
    font-size: 20px ;
    /* text-align: left; */
    color: #f0e5c7e7;
    text-indent: 50px;
    text-shadow:4px 4px 2px #060704;
    
}
.psize{
    height: auto;
    width: 500px;
    border-radius:20px ;
    filter: brightness(80%) saturate(80%);

}

/* slider */
.slider{
    height:300px;
    margin:0px;
    position:relative;
    width:100%;
    display:grid;
    place-items:center;
    overflow: hidden;
   
}
.slide-track{
    display:flex;
    width: calc(300px * 20);
    animation : scroll 40s linear infinite;
}

/* for infinite slide scroll animation, i add keyframe */

@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100% {
        transform : translateX(calc(-300px * 10));
    }
}

.slide{
    height:300px;
    width:300px;
    display:flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
    
}
.slide img {
    transition: transform 1s;
    width:100%;
    
}

.slide img:hover{ 
    transform: translateZ(20px);

}
/* shadows in slider */
.slider::before,
.slider::after{
    background:linear-gradient(to right, rgb(0, 0, 0) 0%, rgba(255,255,255,0)100%);
    content: '';
    height:100%;
    position: absolute;
    width:15%;
    z-index: 2;
}
.slider::before{
    left:0;
    top:0;
}
.slider::after{ 
    right:0;
    top:0;
    transform: rotateZ(180deg);

}
/* Member info */
.MemberInfoContainer{
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0)0% , rgb(0, 0, 0) 100%);
}
.Memberinfo{
    width:85%;
    height:auto;
    text-align: center;
    margin: 0px 9%;
    padding: 15px 3%;
    align-items: center;
   justify-content: center;
  
}
.Memberinfo h2{
    color: #f0e5c7e7;
    text-shadow:4px 4px 2px #060704;
    font-size: 45px;
    margin-bottom:35px ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.Memberinfo p{
   
    font-size: 20px ;
    margin-bottom: 35px;
    color: #f0e5c7e7;
    text-shadow:4px 4px 6px #000000;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}


/*Reponsive */

@media only screen and (max-width: 767px){

    .aboutus{
        width: 86%;
        background: linear-gradient(rgb(0, 0, 0)0% , rgba(0, 0, 0, 0.23) 100%);;
    }
    .aboutus>h1{
        font-size: 50px;
    }
    .aboutus>p{
        font-size: 17px;
    }
    .container{
        display: block;
        
    }
    .Memberinfo,.ourvision{
        display: block;
        width: 86%;
        margin: 6.5%;
        
    }
    .ourvision-p{
        width: 100%;
        display: block;
        margin-top: 20px;
        background: linear-gradient(rgba(0, 0, 0, 0.455) 0% ,rgba(0, 0, 0, 0.455) 100%);
    }
    .Memberinfo>h2,.ourvision-p>h2{
        font-size: 40px;
        text-align: center;
    }
    .Memberinfo>p,.ourvision-p>p{
        font-size: 17px;
    }
    


}
/*NayRain Copy*/







@media only screen and (max-width:480px){

    .Bg2{

        margin-top:40rem;
    }
    .Bg3{
        margin-top:40rem;
    }
    .Bg4{
        margin-top: 40rem;
    }




}

