body{
    background-image: none;
}
.header{
    background-image: none;
}
.aboutus{
    width:100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: rgb(201, 199, 198);
}
.aboutus>h1{
    font-size: 50px;
    margin-bottom: 20px ;
    color: rgb(201, 199, 198);
}
.aboutus p{
    font-size: 18px ;
    margin-bottom: 35px;
    color: rgb(201, 199, 198);
}

.container{
    width:90%;
    margin:auto;
    padding: auto;
    margin-top: 20px;

}
.ourmission{
    display:flex;
    justify-content: space-between;
}
.ourmission-image{
    margin-right: 40px;
}
.ourmission-image img{
    height: auto;
    width: 300px;
    border-radius:20px ;
} 

.ourmission-p h2{
    font-size: 20px;
    margin-bottom:20px;
    color: rgb(201, 199, 198);

}
.ourmission-p p{
    font-size: 18px ;
    line-height: 2;
    color: rgb(201, 199, 198);

    
}
.psize{
    height: auto;
    width: 300px;
    border-radius:20px ;

}

/* slider */
.slider{
    height:300px;
    margin:0px;
    position:relative;
    width:100%;
    display:grid;
    place-items:center;
    overflow: hidden;
   
}
.slide-track{
    display:flex;
    width: calc(300px * 20);
    animation : scroll 40s linear infinite;
}

/* for infinite slide scroll animation, i add keyframe */

@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100% {
        transform : translateX(calc(-300px * 10));
    }
}

.slide{
    height:300px;
    width:300px;
    display:flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
    
}
.slide img {
    transition: transform 1s;
    width:100%;
    
}

.slide img:hover{ 
    transform: translateZ(20px);

}
/* shadows in slider */
.slider::before,
.slider::after{
    background:linear-gradient(to right, rgb(39, 39, 39) 0%, rgba(255,255,255,0)100%);
    content: '';
    height:100%;
    position: absolute;
    width:15%;
    z-index: 2;
}
.slider::before{
    left:0;
    top:0;
}
.slider::after{ 
    right:0;
    top:0;
    transform: rotateZ(180deg);

}
/* Member info */
.Memberinfo{
    width:100%;
    height:40%;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: rgb(201, 199, 198);

}
.Memberinfo h2{
   
    font-size: 50px;
    margin-bottom:20px ;
}
.Memberinfo p{
    font-size: 18px ;
    margin-bottom: 35px;
    padding: 25px;
    line-height: 1.5;
}


/*Reponsive */

@media only screen and (max-width: 767px){

    .aboutus{
        width: 100%;
    }

    .ourmission{
        display: block;
        
    }
    .ourmission-image{
        width: 100%;
        margin: 0px;

    }
    .ourmission-image>img{
        width: 100%;
    }
    .ourmission-p>h2{
        text-align: center;
        font-size: 30px;
        margin-top: 20px;
    }

    .ourmission-p{
        display: block;
    }
    
    .ourmission-p>img{
        width: 100%;
    }

    .Memberinfo{
        width: 100%;
    }

}
/*NayRain Copy*/







@media only screen and (max-width:480px){

    .Bg2{

        margin-top:40rem;
    }
    .Bg3{
        margin-top:40rem;
    }
    .Bg4{
        margin-top: 40rem;
    }




}

