.main_background{
   
  
    width: 100%;
    height: 600px;
    display: block;
    background: url(../Image/mint/form4.jpg);
    filter: brightness(85%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity:85% ;
    /* border: 10PX rgb(255, 255, 255) double; */
    
   
    

}
.bcg_up{
    width: 100%;
    height: 50%;
    /* background-color: rgb(46, 43, 43); */
    
   
}

    
   
.bcg_down{
    width: 100%;
    height: 50%;
    
    /* background-color: #ccbfbf; */
    


}
.bcg_down::before{
    position: absolute;
    width: min(1400px, 90vw);
    top: 10%;
    left: 50%;
    height: 90%;
    transform: translateX(-50%);
    content: '';
   
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    pointer-events: none;
}


.Group4to{
    width: 105px;
    height: 115px;
    margin: -60px 0px 0px 0px ;
    border-radius: 100%;
    margin-left: 46%;
    display: block;
    padding-bottom: 10px;
    margin-top: -355px;

      
}

.click2appear{
   
    width: 100%;
    background-color: rgb(5, 5, 5);
    height: 0px;
    display: block;
    margin: 0;
    padding: 0;
    
   

}

.dinotext{
    height: 0px;
    width: 100%;;
    color: #ffffff;
    margin: 0px 0px 0px 0px; /*Move Text here*/
    text-align:center ;
    font-size: 24px;
    font-weight: 600;
    text-shadow: 3px 3px 2px black;
    padding-top: 100px;
    font-family: 'Courier New', Courier, monospace;
    
    
   
    /* background-color: rgb(255, 255, 255); */
   

   
}

.links_container{
    height: 100%;
    width: 100%;
    display: none;
    left: -100px;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    
    
    
   

}
.click2appear a{
    width: 100%;
    height: 50px;
    padding: 0px 0px;
    display:block;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    backdrop-filter: blur(5px);
    
    border-radius: 5px;
    margin-bottom: 2px;
    font-size: 21px;
    padding-top: 15px;

    box-sizing: border-box;
    
}
.click2appear a:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    /* background-image: linear-gradient(to right,rgb(56, 55, 55),rgb(255, 255, 255),rgb(52, 53, 52)); */
    transition:0.75s;
  
}
#button_bar{
    display: none;
}

.activated,.DEACTIVATED{
    display: none;
}
@media(max-width:1600px){
.links_container{
    flex-direction: column;
    align-items: center;
    position:fixed;
    width: 100%;
    top: 300px;
    left: 0px;
    z-index: 9;
    transition: 1s ease-in-out;
    
}
.activated,.DEACTIVATED{
    display: flex;
}
#button_bar:checked~.links_container{
    display: flex;
    
}
#button_bar:checked~#overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    
}     
    

}

@keyframes slide_in_left{
    from{
        transform: translateX(-550px);
    }
    to{
        transform: translateX(0);
    }
}

/* animation */
.Group4to{
    animation-name:slide_in_left;
    animation-duration:1.2s ;
    animation-timing-function:ease-in ;
    animation-delay:1s ;

}

@keyframes slide_in_bar{
    from{
        transform: translateX(-600px);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes slide_out_bar{
    from{
        transform:translateX(0) ;
    }
    to{
        transform: translateX(-600px);
    }
}
.links_container{
    animation-name:slide_in_bar;
    animation-duration:1.2s ;
    animation-timing-function:ease-in-out ;
    animation-delay:0s ;
    position: sticky;
    
    

}
/*Reponsive*/



@media only screen and (max-width:600px){

    .Group4to{
        margin: -60px 0px 0px 0px ;
        margin-left: 39%;
        margin-top: -350px;
    }
    .dinotext{
        font-size: 13px;
    }
    .links_container{
        width: 70%;
        margin:0px 12%;
        margin-left: 16%;
    }

}